<app-home></app-home>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="description">Descripción</label>
    <p-autoComplete
      [(ngModel)]="queryDTO.description"
      [suggestions]="filteredDescriptions"
      (completeMethod)="filterDescription($event)"
      field="description"
      name="description"
    ></p-autoComplete>
  </div>

  <div class="form-group">
    <label for="assigner">Asignado por</label>
    <select
      class="form-control"
      id="assigner"
      [(ngModel)]="queryDTO.assigner"
      name="assigner"
      multiple
    >
      <option *ngFor="let assigner of assigners" [value]="assigner">
        {{ assigner }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="cwes">CWEs</label>
    <select
      class="form-control"
      id="cwes"
      [(ngModel)]="queryDTO.cwes"
      name="cwes"
      multiple
    >
      <option *ngFor="let cwe of cwes" [value]="cwe">{{ cwe }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="vendors">Vendors</label>
    <p-autoComplete
      [(ngModel)]="selectedVendor"
      [suggestions]="filteredVendors"
      (completeMethod)="filterVendors($event)"
      (onSelect)="onSelectVendor($event)"
      field="vendor"
      name="vendors"
    ></p-autoComplete>
    <!--    <p-chips
      [(ngModel)]="queryDTO.vendors"
      name="vendors"
      separator=","
      placeholder="Hint: a, b, c"
    ></p-chips>
-->
  </div>

  <!--
  <div class="form-group">
    <label for="vendors">Vendors</label>
    <p-chips
      [(ngModel)]="queryDTO.vendors"
      name="vendors"
      separator=","
      placeholder="Hint: a, b, c"
    ></p-chips>
  </div>
-->
  <div class="form-group">
    <label for="attackVectors">Vectores de Ataque</label>
    <select
      class="form-control"
      id="attackVectors"
      [(ngModel)]="queryDTO.attackVectors"
      name="attackVectors"
      multiple
    >
      <option *ngFor="let attackVector of attackVectors" [value]="attackVector">
        {{ attackVector }}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
  <button type="button" class="btn btn-secondary" (click)="onReset()">
    Reset
  </button>
</form>

<app-query-results [queryResults]="queryResultsDTO"></app-query-results>
