<app-home></app-home>
	<form (ngSubmit)="onSubmit()">
	  <div class="form-group">
	    <label for="description">Descripción</label>
	    <input type="text" class="form-control" id="description" [(ngModel)]="queryDTO.description" name="description">
	  </div>
	  <div class="form-group">
	    <label for="assigner">Asignado por</label>
	    <input type="text" class="form-control" id="assigner" [(ngModel)]="queryDTO.assigner" name="assigner">
	  </div>
    <div class="form-group">
      <label for="cwes">CWEs</label>
      <select class="form-control" id="cwes" [(ngModel)]="queryDTO.cwes" name="cwes">
        <option selected disabled>Seleccione una opción...</option>
        <option *ngFor="let cwe of cwes" [value]="cwe">{{cwe}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="vendors">Vendors</label>
      <select class="form-control" id="vendors" [(ngModel)]="queryDTO.vendors" name="vendors" multiple>
        <option *ngFor="let vendor of vendors" [value]="vendor">{{vendor}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="vendorProductPairs">Pares Vendor/Product</label>
      <select class="form-control" id="vendorProductPairs" [(ngModel)]="queryDTO.vendorProductPairs" name="vendorProductPairs" multiple>
        <option *ngFor="let vendorProductPair of vendorProductPairs" [value]="vendorProductPair">{{vendorProductPair}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="attackVectors">Vectores de Ataque</label>
      <select class="form-control" id="attackVectors" [(ngModel)]="queryDTO.attackVectors" name="attackVectors" multiple>
        <option *ngFor="let attackVector of attackVectors" [value]="attackVector">{{attackVector}}</option>
      </select>
    </div>
	  <button type="submit" class="btn btn-primary">Search</button>
	  <button type="button" class="btn btn-secondary" (click)="onReset()">Reset</button>
	</form>

	<app-query-results [queryResults]="queryResultsDTO"></app-query-results>
