body {
  background: linear-gradient(35deg, red, purple);
}
form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-group input[type="text"] {
  font-size: 1rem;
  padding: 0.5rem;
}

p-autoComplete {
  width: 100%;
}

p-autoComplete .ui-autocomplete-multiple-container {
  border: none;
  background: none;
  padding: 0;
}

p-autoComplete .ui-autocomplete-multiple-container .ui-autocomplete-token {
  background-color: #007ad9;
  color: white;
  margin: 0.2rem 0.2rem 0.2rem 0;
}

p-autoComplete .ui-autocomplete-multiple-container .ui-autocomplete-token-icon {
  color: white;
}

button[type="submit"] {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin: 2%;
}

button[type="button"] {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin: 2%;
}

@media (max-width: 600px) {
  .form-group label {
    font-size: 1rem;
  }

  button[type="submit"] {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
