<app-home></app-home>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="assigner">Asignado por</label>
    <p-autoComplete
      [(ngModel)]="selectedAssigners"
      [suggestions]="filteredAssigners"
      (completeMethod)="filterAssigners($event)"
      name="assigner"
      [multiple]="true"
    ></p-autoComplete>
  </div>

  <div class="form-group">
    <label for="cwes">CWEs</label>
    <p-autoComplete
      [(ngModel)]="selectedCwes"
      [suggestions]="filteredCwes"
      (completeMethod)="filterCwes($event)"
      name="cwes"
      [multiple]="true"
    ></p-autoComplete>
  </div>

  <div class="form-group">
    <label for="vendors">Vendors</label>
    <p-autoComplete
      [(ngModel)]="selectedVendors"
      [suggestions]="filteredVendors"
      (completeMethod)="filterVendors($event)"
      (onKeyUp)="onKeyUp($event)"
      name="vendors"
      [multiple]="true"
    ></p-autoComplete>
  </div>

  <div class="form-group">
    <label for="attackVectors">Vectores de Ataque</label>
    <p-autoComplete
      [(ngModel)]="selectedAttackVectors"
      [suggestions]="filteredAttackVectors"
      (completeMethod)="filterAttackVectors($event)"
      name="attackVectors"
      [multiple]="true"
    ></p-autoComplete>
  </div>

  <button type="submit" class="btn btn-primary">Search</button>
  <button type="button" class="btn btn-secondary" (click)="onReset()">
    Reset
  </button>
</form>

<app-query-results [queryResults]="queryResultsDTO"></app-query-results>
